/* layout css overrides */
header nav.navbar {
    background-color: #282828 !important;
    margin-bottom: 0 !important;
    border-bottom: none !important;
    box-shadow: none !important;
}
header nav.navbar a {
    color: #fbf1c7 !important;
}
footer.footer {
    background-color: #282828;
    color: #fbf1c7 !important;
    border-top: none !important;
    box-shadow: none !important;
}

body {
  background-color: #3c3836;
}

.about-izeah {
    background-color: #3c3836;
}

.about-izeah h1 {
    color: #258cfb;
    margin-bottom: 1rem;
}

.about-izeah p {
    color: #fbf1c7;
    font-size: 1.1rem;
}
