.portfolio-container {
    display: flex;
    flex-direction: column;
}

#rox-grad-pic {
    max-width: 384px;
    max-height: 376px;
    width: auto;
    height: auto;
    flex-shrink: 0;
}
.personal-info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.personal-details {
    display: flex;
    flex-direction: column;
}

.personal-details h1 {
    color: pink;
}

.personal-details p {
    color: white;
}

.social-links {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.light-container {
    background-color: pink;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.dark-container {
    background-color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.dark-container h1 {
    color: pink;
}

.education-container {
}

.techstack-container {
   
}