.personal-info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: pink;
}
.personal-details {
    display: flex;
    flex-direction: column;
}

.social-links {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#rox-grad-pic {
    max-width: 384px;
    max-height: 376px;
    width: auto;
    height: auto;
    flex-shrink: 0;
}